<div class="all">
  <div class="fond">

    <h1>Bienvenue chez EatItAll!</h1>
    <div class="general_container">

      <div class="boutons_onglet">

        <button onclick="document.getElementById(1).className = 'onglet'; document.getElementById(2).className = 'hidden'; document.getElementById(3).className = 'hidden';">Prez</button>
        <button onclick="document.getElementById(1).className = 'hidden'; document.getElementById(2).className = 'onglet'; document.getElementById(3).className = 'hidden';">menu</button>
        <button onclick="document.getElementById(1).className = 'hidden'; document.getElementById(2).className = 'hidden'; document.getElementById(3).className = 'onglet';">Ongle</button>

      </div>

      <div class="onglet" id=1>

        <h1>Découvrez EatItAll.</h1>
LE PREMIER RESTAURANT QUI RECYCLE LES ÊTRES HUMAINS.</br>
Nous travaillons en collaboration avec les plus grands hôpitaux de France!

      </div>
      <div class="hidden" id=2>

          Un menu qui défie les plus grandes lois éthiques.</br>
Âmes sensibles servies en accompagnement pour un menu midi.

      </div>
      <div class="hidden" id=3>

          Un ongle. On ne sait pas trop.

      </div>

    </div>
  </div>
  <div class="carousel">
    <button class="button display-left" onclick="plusDivs(-1)">&#10094;</button>
    <div class="slide">
      <div class="w3-display-bottomleft w3-container w3-padding-16 w3-black">
        Salade de peau
      </div>
      <img class="slid" src="/assets/img1.jpg">
    </div>
    <div class="slide">
      <div class="w3-display-bottomleft w3-container w3-padding-16 w3-black">
        pâtes aux doigts de pieds émincés
      </div>
      <img class="slid" src="/assets/img2.jpg">
    </div>
    <div class="slide">
      <div class="w3-display-bottomleft w3-container w3-padding-16 w3-black">
        brochettes de rein
      </div>
      <img class="slid" src="/assets/img3.jpg">
    </div>
    <button class="button display-right" onclick="plusDivs(+1)">&#10095;</button>
  </div>
  <div class="circles">
YO
    <span class="thisone" onclick="showDivs(2)">ICI</span>
    <div class="badge" onclick="showDivs(1)"></div>
    <div class="badge" onclick="showDivs(2)"></div>
    <div class="badge" onclick="showDivs(3)"></div>
  </div>
</div>
