<div class="all">
  <div class="fond">

    <h1>Bienvenue chez EatItAll!</h1>
    <div class="general_container">

      <div class="boutons_onglet">

        <button onclick="document.getElementById(1).className = 'onglet'; document.getElementById(2).className = 'hidden'; document.getElementById(3).className = 'hidden';">Prez</button>
        <button onclick="document.getElementById(1).className = 'hidden'; document.getElementById(2).className = 'onglet'; document.getElementById(3).className = 'hidden';">menu</button>
        <button onclick="document.getElementById(1).className = 'hidden'; document.getElementById(2).className = 'hidden'; document.getElementById(3).className = 'onglet';">Ongle</button>

      </div>

      <div class="onglet" id=1>

        <h1>Découvrez EatItAll.</h1>
LE PREMIER RESTAURANT QUI RECYCLE LES ÊTRES HUMAINS.

      </div>
      <div class="hidden" id=2>

          Un menu qui défie les plus grandes lois éthiques.

      </div>
      <div class="hidden" id=3>

          Un ongle. On ne sait pas trop.

      </div>

    </div>
  </div>
  <div class="carousel">
    <button class="button display-left" onclick="plusDivs(-1)">&#10094;</button>
    <img class="slide" src="/assets/img1.jpg">
    <img class="slide" src="/assets/img2.jpg">
    <img class="slide" src="/assets/img3.jpg">
    <button class="button display-right" onclick="plusDivs(+1)">&#10095;</button>
  </div>
</div>
